<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infnet.bikeride.bikeride">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBNHqa3hUDjRRmSz7vW4t_3q4eE34JMTH8" />
        <!-- android:value="AIzaSyD3w91P6nWokP4GvyKkkGpnlJ&#45;&#45;EmcgOHA" /> -->

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".RequestUserActivity"></activity> -->
        <!-- <activity android:name=".DeliveryActivity" /> -->
        <!-- <activity android:name=".DeliverymanReviewActivity" /> -->
        <!-- <activity android:name=".DeliveryQuotationPrice" /> -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".SingUpActivity" />
        <activity android:name=".activityrequestuser.RequestUserActivity" />
        <activity android:name=".activitydelivery.DeliveryActivity" />
        <activity android:name=".DeliverymanReviewActivity" />
        <activity android:name=".DeliveryQuotationPriceActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".activityrequestbiker.RequestBikerActivity" />
        <activity android:name=".ForgotPasswordActivity"></activity>
    </application>

</manifest>